# ── PostgreSQL ──
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

PG_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# ── MySQL ──
MYSQL_ROOT_PASSWORD=test
MYSQL_DATABASE=test
MYSQL_USER=test
MYSQL_PASSWORD=test
MYSQL_PORT=3306
MYSQL_HOST=127.0.0.1

# using on migration
MYSQL_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?parseTime=true
# using on app
MYSQL_URL_APP=${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?parseTime=true

# ── Redis ──
REDIS_PORT=6379

# ── RabbitMQ ──
RABBITMQ_DEFAULT_USER=test
RABBITMQ_DEFAULT_PASS=test
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
